nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
  position: fixed;
  top: 0;
}

nav span{
  padding-top: 0.8em;
  font-family: 'Bungee', sans-serif;
  font-size: 150%;
}

.write-new {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fas {
  color: red;
}