.new-tweet{
  width: 100%;
}

/* Bottom border creates line under textbox to separate typing area from submit button and counter */
.form-top {
  border-bottom: 2px black solid;
  display: flex;
  flex-direction: column;
}

/* Clear default border from focused and blurred textbox as well as removing ability to resize */
.form-top textarea {
  border: none;
  resize: none;
  outline: none;
}

form div button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
}

/* Flex to separate button from counter */
.form-bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* Error message is only displayed when an error is triggered, and is rehidden whenever Tweet is clicked */
.error-message {
  border: red 3px solid;
  color: red;
  padding: 5px;
  text-align: center;
}